<h1>{{titulo}} andando / No modificar</h1>

<button class="btn btn-success" ng-click="relocate('/')">Volver</button>
<i ng-click="refresh()" class="fas fa-sync-alt"></i>

<div class="panel panel-default">
	<div class="panel-heading">Nueva Lista</div>
	<div class="panel-body">
		Nombre: <input type="text" ng-model="instanciaL.nombre"/><br/>
		Sprint: <input type="text" ng-model="instanciaL.sprint"/><br/>
	</div>
	<div class="panel-footer">
		<button ng-show="mostrarBotonGuardarLista()" class="btn btn-primary" ng-click="agregarLista()">Guardar</button>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">Nueva Tarea</div>
	<div class="panel-body">
		Nombre: <input type="text" ng-model="instanciaT.nombre"/><br/>
		Fecha de creacion: <input type="text" ng-model="instanciaT.fechacreacion"/><br/>
		Fecha de modificacion: <input type="text" ng-model="instanciaT.fechamodificacion"/><br/>
		Prioridad: <input type="text" ng-model="instanciaT.prioridad"/><br/>
		Estimacion: <input type="number" ng-model="instanciaT.estimacion"/><br/>
	</div>
	<div class="panel-footer">
		<button ng-show="mostrarBotonGuardarTarea()" class="btn btn-primary" ng-click="agregarTarea()">Guardar</button>
	</div>
</div>

<!-- <ul ng-repeat="p in listas">
{{p.id}} - <span ng-hide="p.id==instanciaM.id">{{p.nombre}} - {{p.sprint}} - </span> -->

<select ng-model="sort" ng-change="sortBy()">
	<option value="fechacreacion">Fecha de creacion</option>
	<option value="prioridad">Prioridad</option>
</select>

<table class="table table-bordered">
	<tbody>
	<tr ng-repeat="(lista,tarea) in tareas">	//tr
		<th scope="row">{{lista}}</th>		//th
		<td ng-repeat="t in tarea">{{t.id}} - {{t.nombre}} - {{t.fechacreacion}} - {{t.fechamodificacion}} - {{t.prioridad}} - {{t.estimacion}} - {{t.lista}} -		//td
			<i ng-click="borrar(t.id)" class="fas fa-trash-alt"></i>
			<i ng-click="moverLista(t.id, 'todo')" class="fas fa-edit"></i>
		</td>
	</tr>
	</tbody>
</table>

<ul ng-repeat="(lista,tarea) in tareas">
	<lh>
		{{lista}} -
	</lh>
	<li ng-repeat="t in tarea">
		{{t.id}} - {{t.nombre}} - {{t.fechacreacion}} - {{t.fechamodificacion}} - {{t.prioridad}} - {{t.estimacion}} - {{t.lista}} -
		<i ng-click="borrar(t.id)" class="fas fa-trash-alt"></i>
		<i ng-click="moverLista(t.id, 'todo')" class="fas fa-edit"></i>
	</li>
	<!-- <li ng-repeat="p in listas"> -->

	<!-- <i ng-click="borrar(p.id)" class="fas fa-trash-alt"></i>
	<i ng-click="startEdit(p)" class="fas fa-edit"></i></span>
	<span ng-show="p.id==instanciaM.id">
	<input type="text" ng-model="instanciaM.descripcion"/> - <input type="number" ng-model="instanciaM.precio"/>
	</span> -->
	<!-- </li> -->
</ul>