<h1>{{titulo}}</h1>

<button class="btn btn-success" ng-click="relocate('/')">Volver</button>
<i ng-click="refresh()" class="fas fa-sync-alt"></i>

<div class="panel panel-default">
	<div class="panel-heading">Nueva Lista</div>
	<div class="panel-body">
		Nombre: <input type="text" ng-model="instanciaL.nombre"/><br/>
		Sprint: <input type="text" ng-model="instanciaL.sprint"/><br/>
	</div>
	<div class="panel-footer">
		<button ng-show="mostrarBotonGuardarLista()" class="btn btn-primary" ng-click="agregarLista()">Guardar</button>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">Nueva Tarea</div>
	<div class="panel-body">
		Nombre: <input type="text" ng-model="instanciaT.nombre"/><br/>
		Fecha de creacion: <input type="text" ng-model="instanciaT.fechacreacion"/><br/>
		Fecha de modificacion: <input type="text" ng-model="instanciaT.fechamodificacion"/><br/>
		Prioridad: <input type="text" ng-model="instanciaT.prioridad"/><br/>
		Estimacion: <input type="number" ng-model="instanciaT.estimacion"/><br/>
	</div>
	<div class="panel-footer">
		<button ng-show="mostrarBotonGuardarTarea()" class="btn btn-primary" ng-click="agregarTarea()">Guardar</button>
	</div>
</div>

<!-- <ul ng-repeat="p in listas">
{{p.id}} - <span ng-hide="p.id==instanciaM.id">{{p.nombre}} - {{p.sprint}} - </span> -->

<select class="form-control" ng-model="sort" ng-change="sortBy()">
	<option value="" selected disabled hidden>Ordenar por...</option>
	<option value="fechacreacion">Fecha de creacion</option>
	<option value="prioridad">Prioridad</option>
</select>

<div class="col-xs-3" ng-repeat="(lista,tarea) in tareas">
    <div class="table-responsive">
        <table class="table table-bordered"">
            <thead> <tr> <th scope="row" colspan="9">{{lista}}</th> </tr></thead>
            <tbody>
                <tr ng-repeat="t in tarea">
                    <td>{{t.id}}</td>
                    <td>{{t.nombre}}</td>
                    <td>{{t.fechacreacion}}</td>
                    <td>{{t.fechamodificacion}}</td>
                    <td>{{t.prioridad}}</td>
                    <td>{{t.estimacion}}</td>
                    <td><i ng-click="borrar(t.id)" class="fas fa-trash-alt"></i></td>
                    <td><i ng-click="moverLista(t.id, 'todo')" class="fas fa-edit"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>