<nav class="navbar navbar-default">
	<ul class="nav navbar-nav">
		<form class="navbar-form">
			<span class="navbar-brand"><i class="fas fa-list-ul"></i> {{titulo}}</span>
			<button class="btn btn-info navbar-btn" ng-click="nuevoModalLista()">Nueva Lista</button>
			<button class="btn btn-info navbar-btn" ng-click="nuevoModalTarea()">Nueva Tarea</button>
		</form>
	</ul>
	<ul class="nav pull-right navbar-nav">
		<form class="navbar-form">
			<button class="btn btn-info navbar-btn" ng-click="refresh()"><i class="fas fa-sync-alt"></i> Refresh</button>
			<div class="btn-group" uib-dropdown>
				<button class="btn btn-info" uib-dropdown-toggle ng-disabled="disabled">
					Ordenar por... <span class="caret"></span>
				</button>
				<ul class="dropdown-menu pull-right" uib-dropdown-menu role="menu" aria-labelledby="single-button">
					<li role="menuitem"><a ng-click="sortBy('fechacreacion')">Fecha de creacion</a></li>
					<li role="menuitem"><a ng-click="sortBy('prioridad')">Prioridad</a></li>
				</ul>
			</div>
			<div class="btn-group" uib-dropdown>
				<button class="btn btn-info" uib-dropdown-toggle ng-disabled="disabled">
					<i class="fas fa-user"></i> {{user.name}} <span class="caret"></span>
				</button>
				<ul class="dropdown-menu pull-right" uib-dropdown-menu role="menu" aria-labelledby="single-button">
					<li role="menuitem" ng-click="relocate('/')"><a>Volver</a></li>
					<!--li class="divider"></li-->
					<li role="menuitem" ng-click="logout(true)"><a href="#">Cerrar sesión</a></li>
				</ul>
			</div>
		</form>
	</ul>
</nav>

<div class="container-fluid">
	<div class="row">
		<div class="col-xs-1"></div>
		<div class="col-xs-2" ng-repeat="(lista,tarea) in tareas">
			<div class="table-responsive">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th scope="row" colspan="5">{{lista}}</th>
						</tr>
						<tr ng-show="!mostrarListaVacia(lista)">
							<!--<th scope="row">ID</th>-->
							<th scope="row">Tarea</th>
							<th scope="row">Fecha de creacion</th>
							<!--<th scope="row">Fecha de modificacion</th>-->
							<th scope="row">Prior.</th>
							<!--<th scope="row">Estimacion</th>-->
							<th scope="row"></th>
							<th scope="row"></th>
						</tr>
					</thead>
					<tbody dnd-list="tarea" dnd-drop="moverLista(item,lista)">
						<tr ng-repeat="t in tarea"
							dnd-draggable="t"
							dnd-effect-allowed="move">
							<!--<td>{{t.id}}</td>-->
							<td class="trunc">{{t.nombre}}</td>
							<td>{{changeDate(t.fechacreacion)}}</td>
							<!--<td>{{changeDate(t.fechamodificacion)}}</td>-->
							<td>{{prioridades[t.prioridad]}}</td>
							<!--<td>{{t.estimacion}}</td>-->
							<td><i ng-click="nuevoModalViewTarea(t)" class="fas fa-eye"></i></td>
							<td>
								<i class="fas fa-trash-alt"
								   mwl-confirm
								   title="¿Desea borrar la tarea?"
								   message=""
								   confirm-text="<i class='fas fa-check'></i> Si"
								   cancel-text="<i class='fas fa-times'></i> No"
								   placement="top"
								   on-confirm="borrar(t.id)"
								   confirm-button-type="success"
								   cancel-button-type="danger">
								</i>
							</td>
						</tr>
						<tr class="dndPlaceholder">
							<td colspan="5">Mover aqui</td>
						</tr>
						<tr ng-show="mostrarListaVacia(lista)">
							<td colspan="5">Lista vacia</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

<!--
dnd-moved="tarea.splice($index, 1)"
-->
<!--
<div class="clearfix"></div>

<div class="panel panel-default">
	<div class="panel-heading">Nueva Lista</div>
	<div class="panel-body">
		Nombre: <input type="text" ng-model="instanciaL.nombre"/><br/>
		Sprint: <input type="text" ng-model="instanciaL.sprint"/><br/>
	</div>
	<div class="panel-footer">
		<button ng-show="mostrarBotonGuardarLista()" class="btn btn-primary" ng-click="agregarLista()">Guardar</button>
	</div>
</div>

<div class="panel panel-default">
	<div class="panel-heading">Nueva Tarea</div>
	<div class="panel-body">
		Nombre: <input type="text" ng-model="instanciaT.nombre"/><br/>
		Fecha de creacion: <input type="text" ng-model="instanciaT.fechacreacion"/><br/>
		Fecha de modificacion: <input type="text" ng-model="instanciaT.fechamodificacion"/><br/>
		Prioridad: <input type="text" ng-model="instanciaT.prioridad"/><br/>
		Estimacion: <input type="number" ng-model="instanciaT.estimacion"/><br/>
	</div>
	<div class="panel-footer">
		<button ng-show="mostrarBotonGuardarTarea()" class="btn btn-primary" ng-click="agregarTarea()">Guardar</button>
	</div>
</div>
-->
