<div class="modal-header">
    <h3 class="modal-title">Tarea</h3>
</div>
<div>
    <table class="table table-striped">
        <tr>
            <th>ID</th>
            <td>{{$ctrl.instancia.id}}</td>
        </tr>
        <tr>
            <th>Nombre</th>
            <td>{{$ctrl.instancia.nombre}}</td>
        </tr>
        <tr>
            <th>Fecha Creacion</th>
            <td>{{$ctrl.changeDate($ctrl.instancia.fechacreacion)}}</td>
        </tr>
        <tr>
            <th>Fecha Modificacion</th>
            <td>{{$ctrl.changeDate($ctrl.instancia.fechamodificacion)}}</td>
        </tr>
        <tr>
            <th>Prioridad</th>
            <td>{{$ctrl.prioridades[$ctrl.instancia.prioridad]}}</td>
        </tr>
        <tr>
            <th>Estimacion</th>
            <td>{{$ctrl.instancia.estimacion}}</td>
        </tr>
        <tr>
            <th>Lista</th>
            <td>{{$ctrl.instancia.lista.nombre}}</td>
        </tr>
    </table>
</div>
<div class="modal-footer">
    <button class="btn btn-success"
            type="submit" ng-click="$ctrl.ok()">Aceptar</button>
</div>