.trunc{
    max-width:65px; /* Customise it accordingly */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.dndDragging{
    background-color: silver;
}
.dndPlaceholder{
    background-color: silver;
}
.fix{
    padding-top:8px;
    padding-bottom:8px;
}
.min-with{

}