.trunc{
    max-width:80px; /* Customise it accordingly */
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.width-date{
    min-width:80px;
}
.dndDragging{
    background-color: gainsboro;
}
.dndPlaceholder{
    background-color: gainsboro;
}
.fix{
    padding-top:8px;
    padding-bottom:8px;
}
.action:hover {
    color: grey;
}
.col-title-font {
    font-size: 10px;
}
.col-content-font {
    font-size: 13px;
    vertical-align: center;
}